{% load humanize currency_tags %}
<p class="mb-1 small">Liquid:
  {% display entity.liquid_total base_currency.code as disp_liq %}
  <span class="amount-display" data-prefix="{{ active_currency_symbol }}" data-decimals="2">{{ disp_liq|floatformat:2|intcomma }}</span>
</p>
<p class="mb-0 small">Non-Liquid:
  {% display entity.non_liquid_total base_currency.code as disp_non %}
  <span class="amount-display" data-prefix="{{ active_currency_symbol }}" data-decimals="2">{{ disp_non|floatformat:2|intcomma }}</span>
</p>