{% extends 'entities/_toolbar_base.html' %}
{% block extra_fields %}
  <select name="location" class="form-select mb-2">
    <option value="">All Locations</option>
    {% for l in locations %}
      <option value="{{ l }}" {% if location == l %}selected{% endif %}>{{ l }}</option>
    {% endfor %}
  </select>
{% endblock %}
{% block sort_options %}
  <option value="name" {% if sort == 'name' %}selected{% endif %}>Sort by Name</option>
  <option value="expected_lifespan_desc" {% if sort == 'expected_lifespan_desc' %}selected{% endif %}>Expected Lifespan (desc)</option>
{% endblock %}