<div class="row g-2">
  <div class="col-md-6 d-grid gap-2">
    {{ form.policy_owner|as_crispy_field }}
    {{ form.insurance_type|as_crispy_field }}
    {{ form.premium_mode|as_crispy_field }}
  </div>
  <div class="col-md-6 d-grid gap-2">
    {{ form.person_insured|as_crispy_field }}
    {{ form.sum_assured|as_crispy_field }}
    {{ form.premium_amount|as_crispy_field }}
  </div>
</div>
<div class="row g-2 mt-0">
  <div class="col-md-6">{{ form.valuation_date|as_crispy_field }}</div>
</div>
<div id="vul-fields" class="row g-2">
  <div class="col-md-6">{{ form.unit_balance|as_crispy_field }}</div>
  <div class="col-md-6">{{ form.unit_value|as_crispy_field }}</div>
</div>
{{ form.entity }}
{{ form.acquisition }}