{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% url 'entities:detail' insurance.entity_id as back_url %}
{% include "includes/back_button.html" with url=back_url %}
<div id="form-container" class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-xl-6">
      <div class="card shadow-sm border-0">
        <div class="card-header bg-white py-3">
          <h2 class="fs-4 mb-0">Pay Premium for {{ insurance }}</h2>
        </div>
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {% crispy form %}
          </form>
        </div>
      </div>
</div>
</div>
</div>
{% include "includes/balance_summary.html" %}
{% endblock %}